@media (prefers-color-scheme: dark) {
  :root {
    $color-mode: 'dark';
  }
  body,
  .user-stats {
    background: $dark-gray;
    color: $white;
  }
  h1,
  h4,
  a {
    color: $white;
  }
  ::placeholder,
  button {
    color: $white;
  }
  .card,
  .search-bar {
    background: $dark-blue;
    caret-color: $white;
  }
  .card {
    box-shadow: none !important;
  }
}
[data-user-color-scheme='dark'] {
  :root {
    $color-mode: 'dark';
  }
  body,
  .user-stats {
    background: $dark-gray;
    color: $white;
  }
  h1,
  h4,
  a {
    color: $white;
  }
  ::placeholder,
  button {
    color: $white;
  }
  .card,
  .search-bar {
    background: $dark-blue;
    caret-color: $white;
  }
  .card {
    box-shadow: none !important;
  }
}
