body {
  font-family: 'Space Mono', monospace;
  transition: background 500ms ease-in-out, color 200ms ease;
  background: var(--background);
  color: var(--text);
}

body,
html {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.name,
.logo,
.repos,
.followers,
.following {
  color: var(--header);
}

.name {
  font-size: 1rem;
}

.username {
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--blue);
  &:hover {
    text-decoration: underline;
    opacity: 0.7;
    transition: all 200ms ease;
  }
}
h3 {
  font-size: 0.6875rem;
  font-weight: 400;
}
.repos,
.followers,
.following {
  font-size: 1rem;
}
.user-link p,
.user-link a,
.user-bio,
.user-joined,
.username {
  font-size: 13px;
}

.container {
  width: 100%;
  max-width: 35.8125rem;
  padding: 1.5rem;
}

.logo {
  font-weight: 700;
  font-size: 1.625rem;
}

.theme {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: filter 200ms ease;
  &:hover {
    filter: brightness(10%);
  }
  &-text {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: var(--text);
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    font-weight: 700;
    letter-spacing: 2.5px;
  }
  &-icon {
    content: url('../assets/icon-moon.svg');
    padding-left: 1rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.25rem;
}

.search {
  &-bar {
    display: flex;
    align-items: center;
    height: 3.75rem;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    background-color: var(--inner-background);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    position: relative;
  }
  &-input {
    width: 100%;
    background: transparent;
    padding: 0.3125rem;
    outline: none;
    border: none;
    caret-color: var(--header);
    &::placeholder {
      transition: color 200ms ease;
      color: var(--text);
      font-size: 0.8125rem;
      font-weight: 400;
    }
  }
  &-btn {
    width: 100%;
    height: 2.875rem;
    max-width: 5.25rem;
    margin: 0.625rem 0.625rem 0.625rem 0;
    border: none;
    background: var(--blue);
    color: var(--white);
    border-radius: 10px;
    font-size: 0.875rem;
    transition: all 200ms ease;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  &-icon {
    content: url('../assets/icon-search.svg');
    margin-left: 1rem;
  }
  &-no-results {
    color: #f74646;
    font-size: 0.9375rem;
    font-weight: 700;
    position: absolute;
    right: 0.3125rem;
    top: -1.5625rem;
    white-space: nowrap;
  }
}
input[type='text'] {
  font-size: 0.8125rem;
}

.card {
  position: relative;
  display: none;
  flex-direction: column;
  border-radius: 0.9375rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  padding: 2rem 1.5rem;
  gap: 1.5rem;
  background-color: var(--inner-background);
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-image {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
  }
  &-container {
    display: flex;
    gap: 1.25rem;
  }
  &-stats {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.125rem 0.875rem;
    border-radius: 0.625rem;
    background: var(--background);
  }

  &-link {
    display: flex;
    gap: 1rem;
    &-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    & a:hover {
      opacity: 0.7;
      transition: opacity 200ms ease;
      text-decoration: underline;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &-icon {
    height: 1.25rem;
    width: 1.25rem;
    object-fit: contain;
  }
  &-joined {
    color: var(--text-secondary);
  }
}
.user-link a,
.user-link p {
  word-wrap: break-word;
}
.unavailable {
  opacity: 0.5;
  pointer-events: none;
}
.large {
  font-size: 1rem;
}

.loader {
  content: url('../assets/loader.svg');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  border-radius: 0.9375rem;
}
