@media (prefers-color-scheme: light) {
  :root {
    $color-mode: 'light';
  }
  body,
  .user-stats {
    background: $light-bg;
    color: $light-gray;
  }
  h1,
  h4,
  a {
    color: $light-dark-gray;
  }
  ::placeholder,
  button {
    color: $light-gray;
  }
  .card,
  .search-bar {
    background: $white;
    caret-color: $light-gray;
  }
}
[data-user-color-scheme='light'] {
  :root {
    $color-mode: 'light';
  }
  body,
  .user-stats {
    background: $light-bg;
    color: $light-gray;
  }
  h1,
  h4,
  a {
    color: $light-dark-gray;
  }
  ::placeholder,
  .theme-text {
    color: $light-gray;
  }
  .card,
  .search-bar {
    background: $white;
    caret-color: $light-gray;
  }
}
